html {
    background-color: whitesmoke;
    max-width: 650px;
    margin: auto;
    padding: 15px;
}

header,
footer {
    background-color: #000080;
    color: #fbfef9;
    border-radius: 10px;
}

header {
    display: flex;
    align-items: center;
    padding: 15px 35px;
}

header img {
    max-width: 150px;
    height: auto;
}

main,
footer {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

h1 {
    font-family: 'Tillana', cursive;
}

main h1 {
    border-bottom: silver solid 2.5px;
    font-weight: 600;
}

main ul {
    line-height: 2;
}

main a {
    color: blue;
}

footer {
    text-align: center;
}

footer p {
    color: #00ffff;
    padding-top: .5rem;
    margin: 0;
}