html {
    background-color: whitesmoke;
}

header,
main,
footer {
    max-width: 700px;
    margin: 2.5rem auto;
}

header,
footer {
    background-color: #000080;
    color: #fbfef9;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

header img {
    max-width: 200px;
    height: auto;
}

h1,
h2 {
    font-family: 'Tillana', cursive;
}

h2 {
    border-bottom: silver solid 2.5px;
    font-weight: 600;
}

main,
footer {
    font-family: 'Montserrat', sans-serif;
}

main ul {
    line-height: 2;
}

main a {
    color: blue;
}

footer a {
    color: #f8f8ff;
}

footer p {
    color: #00ffff;
    padding-top: .5rem;
    margin: 0;
    font-size: 12px;
}