html {
    background-color: whitesmoke;
}

header,
main,
footer {
    max-width: 700px;
    margin: 2.5rem auto;
}

header,
footer {
    background-color: #000080;
    color: #fbfef9;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

header img {
    float: right;
    width: 200px;
}

main a {
    color: blue;
}

footer a {
    color: #f8f8ff;
}

footer p {
    color: #00ffff;
    padding-top: .5rem;
    margin: 0;
    font-size: 12px;
}

h2 {
    border-bottom: silver solid 2.5px;
}