html {
    background-color: whitesmoke;
}

body {
    font-size: 16px;
}

header,
main,
footer {
    max-width: 600px;
    margin: 0 auto;
}

header,
footer {
    background-color: #04773b;
    color: #fbfef9;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

header img {
    float: right;
    width: 150px;
    height: auto;
}

main a {
    color: blue;
}

footer a {
    color: #fbfef9;
}

footer p {
    margin: 0;
}