nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

nav {
    background-color: #090f60;
    font-family: "Arvo", Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}

nav ul li.active a{
    background-color: #ffc106;
    color: black;
}

nav ul li a:hover {
    background-color: #ffc106;
    color: white;
}