html {
  background: url('../../lesson3/images/weather-symbols.png');
  background-color: #090f60;
}

header {
    display: flex;
}
header,
footer {
  background-color: #ffc106;
  padding: 10px;
}

header img {
    width: 80px;
    float: left;
}
body {
  background-color: white;
  max-width: 900px;
  margin: auto;

}
nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: white;
}

nav, main {
    padding: 10px;
}
nav {
  background-color: #090f60;
  font-family: 'Arvo', Georgia, 'Times New Roman', Times, serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

nav ul li.active a {
  background-color: #ffc106;
  color: black;
}

nav ul li a:hover {
  background-color: #ffc106;
  color: white;
  padding: 10px;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
