html {
    background: url("../images/weather-symbols.png");
    background-color: #090f60;
    font-size: 0.90rem;
}

header,
main,
footer {
    padding: 1rem;
    max-width: 900px;
    margin: 2.5rem auto;
}

header,
footer {
    background-color: #ffc106;
    text-align: center;
    color: white;
}

main {
    background-color: white;
}

ul {
    margin-top: 0;
}

div,
li {
    display: block;
    line-height: 1.5;
}

nav {
    background-color: #090F60;
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffc106;
    color: black;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: "Maven Pro", Arial, Helvetica, sans-serif;
}

p,
p ul li {
    margin-top: 0;
    font-family: "Arvo", Georgia, 'Times New Roman', Times, serif;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Arvo", Georgia, 'Times New Roman', Times, serif;
}

td {
    padding: 5px;
    text-align: center;
}

footer,
nav ul {
    font-family: "Maven Pro", Arial, Helvetica, sans-serif;
}

footer p {
    font-size: 12px;
    margin-bottom: 0;
}